* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 25px;
  user-select: none; 
  /* you cannot select anything on the page */
}

body {
  
  background-color: #b7ebda;
  color: #0d0c0c;
  
  /* font-weight: bold;
  font-style: italic; */
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

img {
  width: 150px;
  margin: 0 auto;
}

input {
  color: #050505;
  background-color: #dee0df;
  border: none;
  border-radius: 10px;
  padding: 7px 30px;
  margin: 10px 0;
}

button {
  color: #FDFDFD;
  background-color: #c71133;
  border: none;
  border-radius: 10px;
  padding: 7px 30px;
  font-weight: 700;
}

button:hover {
  background-color: #60022e;
  cursor: pointer;
}

ul {
  margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

ul li {
    background-color: #FFFDF8;
    padding: 10px 15px;
    border-radius: 10px;
    /* box-shadow: 0px 1px 4px black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /*flex grow will ensure no spaces are left so it will grow te width if each item to fit in the container  */
    flex-grow: 1;
}

ul li:hover {
  background-color: #ffd1d2;
  cursor: pointer;
}